﻿@import "../Settings.scss";

$topleft-bg-color: $green;
$topright-bg-color: $red;
$bottomleft-bg-color: $purple;
$bottomright-bg-color: $yellow;

@mixin blank() {
    Blank {
        height: calc("View.Root.Height, x=> x");

        #BodyScroller {
            height: calc("View.Root.Height, x=> x");

            #Body {
                background-color: transparent;
                padding-top: calc("View.Root.Width, x=> x / 4");
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        #TopLeft, #TopRight, #BottomLeft, #BottomRight {
            position: absolute;
        }

        #TopLeft {
            background-color: $topleft-bg-color;
            width: calc("View.Root.Width, x=> x /2.5");
            height: calc("View.Root.Width, x=> x /2.5");
            left: calc("View.Root.Width, x=> - x / 5");
            top: calc("View.Root.Width, x=> - x / 5");
        }

        #TopRight {
            background-color: $topright-bg-color;
            width: calc("View.Root.Width, x=> x /1.5");
            height: calc("View.Root.Width, x=> x /1.5");
            left: calc("View.Root.Width, x=> x - x / 3");
            top: calc("View.Root.Width, x=> - x / 3");
        }

        #BottomLeft {
            background-color: $bottomleft-bg-color;
            width: calc("View.Root.Width, x=> x /2");
            height: calc("View.Root.Width, x=> x /2");
            left: calc("View.Root.Width, x => - x / 4");
            top: calc("View.Root.Width, View.Root.Height, (x,y) => y - x / 4");
        }

        #BottomRight {
            background-color: $bottomright-bg-color;
            width: calc("View.Root.Width, x=> x /3");
            height: calc("View.Root.Width, x=> x /3");
            left: calc("View.Root.Width, x => x - x / 6");
            top: calc("View.Root.Width, View.Root.Height, (x,y) => y - x / 6");
        }
    }
}
