﻿@import "../Settings.scss";

$navbar-bg-color: $whitesmoke;

@mixin default($navbar-height, $navbar-padding-top) {
    .navbar-background {
        background: $navbar-bg-color;
    }

    Default {
        NavigationBar {
            height: $navbar-height;
            padding: 0;
            padding-top: $navbar-padding-top;

            .menu, .search, #Title {
                background-position: center;
                background-size: contain;
            }

            #Title {
                background-image: url(Images/Icons/Logo.png);
                height: 14px;
                margin-top: 20px;
            }

            .menu, .search, .save {
                width: 35px;
                height: 35px;
                padding: 5px;
                margin-top: 10px;
            }

            .menu {
                background: url(Images/Icons/Menu.png);
                margin-left: 10px;
            }

            .search {
                background: url(Images/Icons/Search.png);
                margin-right: 8px;
            }

            .save {
                background: url(Images/Icons/Check.png);
                margin-right: 8px;
            }
        }

        #BodyScroller {
            background-color: $page-bg-color;

            #Body {
                padding: 0;
            }
        }
    }
}
