﻿@import "../Settings.scss";

$menu-bg-color: #fff;
$menu-circle-bg-color: $blue;
$menu-item-border-color: $blue;

@mixin menu() {

    MenuDisplayer {
        position: absolute;
        height: 100%;

        #Overlay {
            width: 100%;
            height: 100%;
            opacity: 0.35;
            background: black;
            display: none;
            visibility: hidden;
        }

        MainMenu {
            background-color: $menu-bg-color;
            width: calc("View.Root.Width, x => x");

            #Top, #Circle {
                background-color: $menu-circle-bg-color;
                position: absolute;
            }

            #Top {
                top: 0;
                left: 0;
                width: calc("View.Root.Width, x => x");
                height: calc("View.Root.Width, x => x /2");
            }

            #Circle {
                width: calc("View.Root.Width, x => x * 2");
                height: calc("View.Root.Width, x => x * 2");
                top: calc("View.Root.Width, x => - x /2.2");
                left: calc("View.Root.Width, x => - x * .9");
            }

            #Body {
                padding: 30px 100px 100px 30px;

                #Items {
                    margin-top: 20px;
                }

                #Logo {
                    width: calc("View.Root.Width, x => x /2");
                    margin-top: 20px;
                    margin-Bottom: 30px;
                }

                IconButton {
                    height: 50px;
                    border-bottom-width: 1px;
                    border-color: #8493e4;
                    margin-bottom: 5px;
                    padding-left: 0;

                    #TextView {
                        margin-top: 0;
                        text-align: left;
                        padding-left: 35px;
                        font-size: 17px;
                        @extend .font-light;
                    }

                    #Icon {
                        background-size: contain;
                        height: 25px;
                        width: 30px;
                        padding: 0;
                        margin: 0;
                        margin-top: 5px;
                    }
                }

                #Close {
                    border: 0;
                }
            }
        }
    }
}
