﻿@import "../Settings.scss";

@mixin popup() {
    PopUp {
        background-color: transparent;
        padding: 0;

        ItemPicker-Dialog {
            background-color: $page-bg-color;
            padding: 15px 30px 0 30px;
            margin-top: 0;
            height: calc("View.Root.Height, x => x");

            #Title {
                display: none;
                visibility: hidden;
            }

            ScrollView {
                height: calc("View.Root.Height, x => x - 115");
            }

            #ButtonsRow {
                margin: 0;

                #CancelButton {
                    Text: "";
                    background-image: url("Images/Icons/Cross.png");
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
            }

            OptionsList {
                margin-top: 10px;

                OptionsList-Option {
                    padding-top: 20px;
                    padding-bottom: 15px;
                    padding-right: 4px;
                    padding-left: 5px;
                    border-bottom-color: #ddd;
                    border-bottom: 1px;

                    #CheckBox {
                        display: none;
                    }

                    #Label {
                        color: $text-color;
                        font-size: 16px;
                        @extend .font-light;
                    }

                    &:checked {
                        background-color: transparent;

                        #Label {
                            color: $primary-color;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        AlertDialog, TimePicker-Dialog {
            margin-left: calc("View.Root.Width, x => x / 20");
            margin-right: calc("View.Root.Width, x => x / 20");
            margin-top: calc("View.Root.Height, View.Root.Width, view.Height, (rh,rw,h) => rh - h - (rw / 20)");
            padding: 0;

            #Title {
                margin: 15px 15px 0 15px;
                @extend .font-regular;
                font-weight: normal;
            }

            #DialogContent {
                margin-left: 15px;
                margin-right: 15px;

                #Message {
                    @extend .font-light;
                }
            }

            #ButtonsRow {
                border-color: #eee;
                border-top-width: 1px;

                Button {
                    height: 50px;
                    padding: 20px;
                    color: $blue;
                    text-transform: capitalize;
                    @extend .font-light;
                    border-color: #eee;
                    border-left-width: 1px;
                    AutoFlash: true;
                }
            }
        }

        TimePicker-Dialog {
            #Title {
                display: none;
                visibility: hidden;
            }

            .list-item {
                height: 40px;

                #Label {
                    font-size: 20px;
                    @extend .font-light;
                }
            }

            #ButtonsRow {
                margin-top: 15px;
            }
        }
    }
}
