﻿@import "../Settings.scss";

@mixin tabs() {
    $tabs-height: 56px;
    $tabs-bg-color: #343434;
    $tabs-active-bg-color: #222;
    $tabs-color: #eee;

    Tabs {
        height: $tabs-height;

        Tabs-Tab {
            height: 56px;
            background-color: $tabs-bg-color;

            &:active {
                background-color: $tabs-active-bg-color;
            }

            #Label {
                color: $tabs-color;
                @extend .font-light;
                font-size: 10px;
            }

            #Icon {
                width: 26px;
                height: 26px;
                margin-left: calc("View.Root.Width, x=> x/10 - 15");
                margin-bottom: 5px;
            }
        }
    }
}
