﻿@{  Layout = null; }

@{
   var data = Server.MapPath("~/ScriptReferences.json").AsFile().ReadAllText();
   var ScriptReferences = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(data);
}

@if (Context.IsDebuggingEnabled)
{
   foreach (var file in ScriptReferences)
   {
      <script src='@($"{file}?v={Settings.ResourceVersion}")'></script>
    }
}
else
{
   <script src='~/public/js/app-min.js'></script>
}