﻿@{Layout = Request.IsAjaxRequest() ? null : "~/Views/Layouts/FrontEnd.Container.cshtml";}
@{ var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty(); }

<main>
    <header> @(Html.Action<HeaderController>()) </header>

    <div class="container-fluid">
        <div class="page">
            @if (leftMenu.HasValue())
            {
                <div class="side-bar"> @Html.Action("Index", ViewData["LeftMenu"].ToString()) </div>
            }

            <div class="content @("full".OnlyWhen(leftMenu.IsEmpty()))">@RenderBody()</div>
        </div>
    </div>

    <footer>@{Html.RenderAction<Controllers.FooterController>();}</footer>

    @if (!Request.IsAjaxRequest())
    {@Html.Partial("Common.Scripts")}

    @Html.RegisterDynamicScriptFiles()
    @RenderSection("scripts", required: false)
    @Html.ResetDatabaseLink()
    @Html.RegisterStartupActions()
    @Html.RunJavascript("page.ensureNonModal();")
</main>