﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="@(FormsAuthentication.Timeout.TotalSeconds + 10)">
    <title>@ViewData["Title"]</title>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel='stylesheet' href="~/Styles/FrontEnd.Modal.css?v=@Settings.ResourceVersion" type='text/css' />
      <!--[if lt IE 11]> <script src='/bower_components/modernizr/modernizr.js'></script> <![endif]-->
    }
    else
    {
        <link rel='stylesheet' href="/public/css/FrontEnd.Modal-min.css?v=@Settings.ResourceVersion" type='text/css' />
      <!--[if lt IE 11]> <script src='/public/js/modernizr-min.js'></script> <![endif]-->
    }
</head>
<body>
    @RenderBody()
</body>
</html>