﻿@import "../Settings.scss";

@mixin definition-view() {

    DefinitionView {
        #WordText, #NativeCaption {
            background-color: #fff;
            padding: 30px;
            font-size: 20px;
            text-align: center;
            white-space: normal;
            margin: 15px;
            @extend .font-medium;
        }

        #NativeCaption {
            padding: 15px;
            font-size: 16px;
            @extend .font-light;
        }

        #ButtonsContainer {
            background-color: transparent;
            margin-top: -55px;
            margin-bottom: 20px;
            padding: 0 15px;
            height: 70px;

            ImageView {
                position: absolute;
                top: 0;
                left: 30px;
                width: 70px;
                height: 70px;
                background-color: #fff;
                border: 1px solid #eee;
                border-radius: 35px;
                padding: 17px;

                &#PronounceButton {
                }

                &#NextButton {
                    left: calc("view.Parent.Width, x=> x-100");
                }
            }
        }

        #EnglishDefinition, #NativeDefinition {
            margin: 10px 25px;
            font-size: 14px;
            color: #666;
        }
    }
}
