﻿@import "../Settings.scss";

@mixin learn-form() {

    $word-bg-color: #fff;
    $button-color: #fff;
    $link-color: $blue;
    $description-color: #666;
    $skip-bg-color: $purple;
    $notsure-bg-color: $red;

    LearnForm {
        padding: 0;

        #WordCircle {
            background-color: $word-bg-color;
            height: calc("View.Root.Width, x=> x * 0.7");
            width: calc("View.Root.Width, x=> x * 0.7");
            margin-left: calc("View.Root.Width, x=> x * 0.15");
            margin-top: calc("View.Root.Width, View.Root.Height, (x,y) => (y - x * 0.7) / 2 - 100");
            border: 1px;
            border-color: $word-bg-color;

            #Word, #WordsPageActionCall, #WordsPageActionLink {
                position: absolute;
                left: 0;
                vertical-align: top;
                text-align: center;
                white-space: normal;
                font-size: 13px;
                @extend .font-light;
            }

            #Word {
                font-size: 25px;
                top: calc("View.Root.Width, x=> x * 0.3");
            }

            #WordsPageActionCall {
                padding-left: 20px;
                padding-right: 20px;
                top: calc("View.Root.Width, x=> x * 0.3");
                color: $description-color;
            }

            #WordsPageActionLink {
                color: $link-color;
                margin-top: 10px;
                top: calc("View.Root.Width, x=> x * 0.3 + 40");
            }
        }

        .buttons {
            z-index: 100;
            margin-top: calc("View.Root.Width, x=> x * -0.2");
            padding-bottom: 5px;

            .button-contianer {
                width: 50%;
                padding-bottom: 5px;

                .button {
                    background-size: contain;
                    height: calc("View.Root.Width, x=> x * 0.2");
                    width: calc("View.Root.Width, x=> x * 0.2");
                    padding: 21px;
                    margin-left: calc("View.Root.Width, x=> x * 0.15");
                    border: 1px;
                }

                #SkipButton {
                    background-color: $skip-bg-color;
                    border-color: $skip-bg-color;
                }

                #NotSureButton {
                    background-color: $notsure-bg-color;
                    border-color: $notsure-bg-color;
                }
            }
        }
    }
}
