﻿@import "../Settings.scss";

@mixin login() {
    LoginModule {
        #CheckEmail, #CheckEmailSubtitle {
            text-align: center;
        }

        #CheckEmail {
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: calc("View.Root.Height, x=> x /10");
        }

        #CheckEmailSubtitle {
            font-size: 15px;
            @extend .font-light;
            margin-bottom: calc("View.Root.Height, x=> x /8");
        }

        #LoginButton {
            margin: 40px 0;
            margin-bottom: 0;
        }

        #BackButton{
            color: $blue;
        }
    }
}
