﻿@import "../Settings.scss";

@mixin pending-list() {
    $row-height: 60px;
    $row-bg-color: #fff;
    $row-border-color: #f5f5f5;
    $row-known-bg-color: $green;
    $row-tolearn-bg-color: $yellow;
    $row-longpressed-bg-color: #eee;

    PendingList {
        #Title {
            background-color: #fff;
            padding: 20px 30px 30px 30px;
            font-size: 18px;
            text-align: center;
            white-space: normal;
            margin: 0 15px;
        }

        #ButtonsContainer {
            background-color: transparent;
            margin-top: -45px;
            margin-bottom: 20px;
            padding: 0 15px;
            height: 70px;

            Button {
                position: absolute;
                top: 0;
                left: 30px;
                width: 70px;
                height: 70px;
                background-color: #fff;
                @extend .font-light;
                font-size: 13px;
                white-space: normal;
                border: 1px solid #eee;
                border-radius: 35px;

                &#JumpToButton {
                    color: $blue;
                }

                &#ShortcutButton {
                    color: $red;
                    left: calc("view.Parent.Width, x=> x-100");
                }
            }
        }

        #List {
            PendingList-Row {
                background-color: $row-bg-color;
                border-color: $row-border-color;
                border-bottom-width: 1px;
                border-top-width: 0;

                &.known, &.tolearn {
                    #Content {
                        TextView {
                            color: #fff;
                        }

                        ImageView {
                            &#KnownButton {
                                background-image: url("Images/Icons/Check-White.png");
                            }

                            &#ToLearnButton {
                                background-image: url("Images/Icons/Time-White.png");
                            }
                        }
                    }
                }

                &.known {
                    background-color: $row-known-bg-color;
                }

                &.tolearn {
                    background-color: $row-tolearn-bg-color;
                }

                &.longpressed {
                    background-color: $row-longpressed-bg-color;
                }

                #Content {
                    height: $row-height;

                    TextView {
                        @extend .font-light;
                        font-size: 18px;

                        &#Rank {
                            width: 50px;
                            font-size: 16px;
                            text-align: right;
                        }

                        &#Text {
                            text-align: center;
                        }
                    }

                    ImageView {
                        width: 50px;
                        height: 60px;
                        padding: 7px;

                        &#KnownButton {
                            background-image: url("Images/Icons/Check.png");
                            padding-left: 27px;
                        }

                        &#ToLearnButton {
                            background-image: url("Images/Icons/Time-Black.png");
                            padding-right: 27px;
                        }
                    }
                }
            }
        }
    }
}
