﻿@import "../Settings.scss";

@mixin progress-lists() {
    $row-height: 60px;
    $row-bg-color: #fff;
    $row-border-color: #f5f5f5;
    $row-longpressed-bg-color: #eee;

    LearningList, LearntList {

        #List {
            .list-item {
                background-color: $row-bg-color;
                border-color: $row-border-color;
                border-bottom-width: 1px;
                border-top-width: 0;

                #Content {
                    height: $row-height;

                    TextView {
                        @extend .font-light;
                        font-size: 18px;

                        &#Rank {
                            width: 50px;
                            font-size: 16px;
                            text-align: right;
                        }

                        &#Text {
                            text-align: center;
                        }

                        &#RepeatsNumber {
                            width: 50px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
