﻿@import "../Settings.scss";

@mixin register() {
    RegisterModule {
        #Logo {
            width: 40%;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: calc("view.Parent.Width , x=> x/3.33");
        }

        #WelcomeNote, #WelcomeNoteSubtitle {
            color: $nobel;
            margin: 0 20px;
            font-size: 13px;
            text-align: justify;
            @extend .font-light;
        }

        #WelcomeNoteSubtitle {
            color: $blue;
            margin-bottom: 40px;
        }

        #NextButton {
            margin: 40px 0;
            margin-bottom: 0;
        }
    }
}
