﻿@import "../Settings.scss";

@mixin search-form() {
    $row-height: 60px;
    $row-bg-color: #fff;
    $row-border-color: #f5f5f5;

    SearchForm {
        #InputContainer {
            padding: 15px;
            padding-bottom:5px;

            #SearchInput {
                background-color: $row-bg-color;
            }
        }


        #List {
            .list-item {
                background-color: $row-bg-color;
                border-color: $row-border-color;
                border-bottom-width: 1px;
                border-top-width: 0;

                #Content {
                    height: $row-height;

                    TextView {
                        @extend .font-light;
                        font-size: 17px;
                        height: $row-height;
                        vertical-align: middle;
                        text-align: left;
                        padding-left: 27px;
                    }

                    #ViewButton {
                        width: 50px;
                        height: 60px;
                        padding: 7px;
                        padding-right: 27px;
                    }
                }
            }
        }
    }
}
