﻿@import "../Settings.scss";

@mixin settings-form() {

    SettingsForm {
        padding: 15px;

        .title {
            background-color: #fff;
            padding: 15px;
            font-size: 20px;
            text-align: center;
            white-space: normal;
            @extend .font-medium;
        }

        #ButtonsContainer {
            background-color: transparent;
            margin-top: -37px;
            margin-bottom: 20px;
            padding: 0 15px;
            height: 70px;

            ImageView {
                position: absolute;
                top: 0;
                left: 20px;
                width: 70px;
                height: 70px;
                background-color: #fff;
                border: 1px solid #eee;
                border-radius: 35px;
                padding: 22px;
            }
        }

        #RemindersContainer {
            margin-bottom: 20px;
        }

        Button {
            margin-top: 20px;
        }
    }
}
