﻿@import "../Settings.scss";

@mixin progress($navbar-height) {
    Progress {
        #LearningCount {
            background-color: #fff;
            padding: 20px 30px;
            margin: 15px;
            margin-top: 60px;

            Stack {
                padding-top:5px;
                padding-bottom:5px;
                .label {
                    font-size: 16px;
                    @extend .font-medium;
                    width: calc("View.Root.Width, x=> (x - 70) * 0.7");
                }

                .value {
                    font-size: 18px;
                    width: calc("View.Root.Width, x=> (x - 70) * 0.3");
                    text-align: center;
                }
            }
        }

        SegmentedViews {
            margin-top: 160px;

            Segments {
                margin: 20px 30px;

                Segment {
                    height: 36px;
                    background-color: #fff;
                    font-size: 16px;
                    padding: 9px 0;
                    color: #989898;

                    &:active {
                        background-color: #5c72f6;
                        color: #fff;
                    }
                }
            }

            Contents {
                @if $navbar-height == 60 {
                    height: calc("View.Root.Height, x=> x - 306");
                }
                @else {
                    height: calc("View.Root.Height, x=> x - 291");
                }

                Content {
                    width: calc("View.Root.Width, x=> x");
                    height: 100%;

                    ScrollView {
                        height: 100%;
                    }
                }
            }
        }
    }
}
