﻿@import "../Settings.scss";

@mixin search() {
    Search {
        .navbar-background {
            background: #fff;
        }

        #BodyScroller {
            background-color: #fff;
        }
    }
}
