﻿@import "../Settings.scss";

@mixin words($navbar-height) {
    Words {
        SegmentedViews {
            margin-top: $navbar-height;

            Segments {
                margin: 20px 30px;

                Segment {
                    height: 36px;
                    background-color: #fff;
                    font-size: 16px;
                    padding: 9px 0;
                    color: #989898;

                    &:active {
                        background-color: #5c72f6;
                        color: #fff;
                    }
                }
            }

            Contents {
                @if $navbar-height == 60 {
                    height: calc("View.Root.Height, x=> x - 191");
                }
                @else {
                    height: calc("View.Root.Height, x=> x - 176");
                }

                Content {
                    width: calc("View.Root.Width, x=> x");
                    height: 100%;

                    ScrollView {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
