﻿@import "Settings.scss";

TextInput { padding: 7px; border: 1px solid #eee; }
Button { padding: 5px; }

CheckBox { width: 24px; height: 24px; border: 1px solid #aaaaaa; border-radius: 12px; background: transparent;
    &:checked { background-color: $primary-color; }
    & > #CheckedImage { width: 100%; height: 100%; background-image: url(Images/Icons/Check.png); background-size: contain; padding: 2px; }
}

IconButton { margin: 2px; height: 40px; padding: 5px;
    & > #TextView { text-align: center; height: 100%; }
    & > #Icon { height: 20px; background-position: left; background-size: contain; margin-top: 5px; margin-left: 5px; }
}

SearchInput {
    & > #Icon { background-image: url(Images/Icons/Search.png); opacity: 0.3; padding: 8px; }
    & > #TextBox { text-align: center; }
    & > #CancelButton { border: 0; height: 100%; left: 100%; white-space: nowrap; padding: 0; opacity: 0; }
    &:focus {
        & > #TextBox { text-align: left; padding-left: 30px; }
        & > #CancelButton { opacity: 1; }
    }
}

Switch { width: 56px; height: 32px;
    #Bar { height: 32px; border-radius: 16px; }
    #Toggle { height: 28px; width: 28px; border-radius: 14px; background: white; margin: 2px; }
}

/*VideoPlayer { width: 100%; height: 100%; background: #ddd; }*/

/*Slider { height: 40px;
    #RangeBar { height: 2px; background: black; }
    #Handle, #UpHandle { height: 25px; width: 25px; border-radius: 12px; margin-bottom: 15px; }
    #Caption, #UpCaption { text-align: center; }
}*/

/*FilePicker { height: 35px;
    & > #Button { text-align: left; height: 100%; }
    & > #Preview { width: 35px; height: 35px; background-size: cover; }
}*/

/*FormField { margin-top: 5px;
    & > #Label { width: 30%; height: 100%; }
    & > #Icon { width: 30%; width: 25px; height: 25px; }
}*/


Dialog { background: white; padding: 15px; position: absolute; margin-top: calc("View.Root.Height, view.Height, (r, h) => (r - h) / 2");
    & > #Title { text-align: center; font-size: 16px; margin-bottom: 10px; font-weight: bold; }
    & > #ButtonsRow { margin-top: 30px; }
}

Prompt {
    #Description { white-space: pre-wrap; }
    #Input { margin-top: 10px; margin-bottom: 10px; }
}

AlertDialog {
    #Message { text-align: center; margin-top: 10px; }
}

PopUp { width: 100%; height: 100%; padding: 0 20px; }
#PopupOverlay, #WaitingOverlay { width: 100%; height: 100%; position: absolute; opacity: 0.35; background: black; }
#WaitingOverlay { opacity: 0.15; }

Toast { background: black; border-radius: 7px; margin: 20px; padding: 20px;
    #OKButton { height: auto; width: 50px; }
    #Label { color: #fff }
}

Grid, ListView {
    & > #EmptyTextLabel { text-align: center; }
}
ListViewItem { border-top: 1px; }
ListView:lazy-loaded OptionsList-Option { height: 30px; }

/*Carousel {
    #BulletsContainer { text-align: center; }
    Carousel-Bullet { border-radius: 8px; width: 16px; height: 16px; margin: 3px; }
    Carousel-Slide { height: 100%; }
}*/

NavBarPage { height: 100%; width: 100%;
    #BodyScroller { background: white; height: 100%; width: 100%;
        & > #Body { padding: 10px; }
    }
}

NavigationBar { height: 64px; padding: 10px;
    & > #Title { font-size: 18px; font-weight: bold; text-align: center; width: 100%; height: 100%; }
}

Waiting-Indicator { height: 60px; border-radius: 30px;
    ImageView { height: 100%; }
}

#RefreshingIndicator { width: 50px; height: 50px; background: url(Images/Icons/Spinner.png); }

Tabs { background: #444444; height: 54px;
    Tabs-Tab { padding-top: 9px; padding-bottom: 9px;
        #Icon { background-position: center; height: 22px; width: 100%; }
        #Label { font-size: 11px; color: #eeeeee; width: 100%; text-align: center; }
    }
}

DatePicker-Cell, TimePicker-Cell { height: 50px; width: 100%;
    #Label { height: 100%; width: 100%; text-align: center; font-size: 16px; }
}

Dialog {
   
}

DatePicker-Dialog, TimePicker-Dialog {
    #RotatorsRow { margin-top: 15px; }
}

Picker { padding: 7px; border: 1px solid #eee;
    #Label { height: auto; }
    #Caret { background: url(Images/Icons/Caret.png); width: 20px; }
    #PlaceholderLabel { color: #ddd; height: 100%; }
}
