﻿@import "Settings.scss";
@import "general";

@import "Templates/Blank.scss";
@import "Templates/Default.scss";
@import "Templates/Tabs.scss";
@import "Templates/Menu.scss";
@import "Templates/Popup.scss";

@import "Pages/Words.scss";
@import "Pages/Progress.scss";
@import "Pages/Search.scss";


@import "Modules/Register.scss";
@import "Modules/Login.scss";
@import "Modules/LearnForm.scss";
@import "Modules/PendingList.scss";
@import "Modules/KnownList.scss";
@import "Modules/ToLearnList.scss";
@import "Modules/PrgressLists.scss";
@import "Modules/DefinitionVIew.scss";
@import "Modules/SearchForm.scss";
@import "Modules/SettingsForm.scss";

@mixin common($font-thin, $font-light, $font-regualr, $font-medium, $font-bold, $navbar-height, $navbar-margin-top) {
    TextView {
        color: $text-color;
    }

    Button {
        opacity: 1;

        &:disabled {
            opacity: 0.3;
        }
    }

    ImageView {
        opacity: 1;

        &:disabled {
            opacity: 0.3;
        }
    }

    IconButton {
        opacity: 1;

        &:disabled {
            opacity: 0.3;
        }

        #TextView {
            color: white;
        }

        #Icon {
        }
    }

    Waiting-Indicator {
        #Image {
            background: url(Images/icons/Spinner.gif);
        }
    }

    Prompt {
        #Description {
        }

        #Input {
        }
    }

    AlertDialog {
        #Message {
        }
    }

    Toast {
        background: white;
        Duration: calc("4.Seconds()");
        padding: 20px;
        background: black;

        #Label {
            color: white;
        }

        #OKButton {
            color: $primary-color;
            background-color: #989898;
        }
    }

    FormField {
        #Label {
        }

        #HelpIcon {
        }

        #Icon {
        }
    }

    TextInput {
        padding: 7px;
    }

    CheckBox {
        #CheckedImage {
            background-color: $primary-color;
        }
    }

    Switch {
        #Bar {
            background: $grey;
        }

        &:checked #Bar {
            background: $primary-color;
        }

        #Toggle {
        }
    }

    ItemPicker-Dialog > ScrollView {
        Height: calc("View.Root.Height.CurrentValue/2");
    }

    Picker {
        padding: $input-padding;
        border-color: $very-light-grey;

        #Caret {
            background: url(Images/Icons/Caret.png);
        }

        #PlaceholderLabel {
        }
    }

    DatePicker-Cell, TimePicker-Cell {
        #Label {
            color: $grey;
        }

        &:active #Label {
            color: $text-color;
        }
    }

    DatePicker-Dialog, TimePicker-Dialog {
        #RotatorsRow {
        }
    }

    Modal {
        background: white;
        padding: 20px;
        height: auto;
    }

    ListView {
        #EmptyTextLabel {
            color: $grey;
        }

        .view-row {
            width: 20px;
            height: 100%;
        }

        ListViewItem {
            border-color: $very-light-grey;

            .title {
                font-weight: bold;
                height: 50%;
            }
        }

        #SlideIn TextView {
            height: 100%;
            margin: 0;
            color: white;
            background: #444;
            padding: 10px;
            AutoSizeWidth: calc("true");

            &.delete-button {
                background: #ff4c32;
            }
        }
    }

    .standard-list ListView {
        ListViewItem {
            height: 60px;

            > Stack {
                > * {
                    height: 100%;
                }

                .icon {
                    width: 60px;
                    margin-right: 10px;
                }
            }
        }
    }

    .module-header-title {
        color: $primary-color;
        margin-bottom: 20px;
    }

    .list-view .module-header-title {
        padding: 5px;
        padding-right: 20px;
        height: 40px;
    }

    .header-intro {
        color: white;
        margin-bottom: 20px;
    }

    .bottom-buttons-row {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .form-field-header {
        padding: $input-padding;
        font-weight: bold;
        font-size: 16px;
    }

    SearchInput {
        border: 0;
        border-bottom-color: $blue;
        border-bottom-width: 1px;

        TextInput {
            border: 0;
            color: $blue;
            PlaceholderColor: $blue;
        }
    }

    @include general($font-thin, $font-light, $font-regualr, $font-medium, $font-bold);
    /*Templates*/
    @include blank();
    @include default($navbar-height, $navbar-margin-top);
    @include tabs();
    @include menu();
    @include popup();
    /*Pages*/
    @include words($navbar-height);
    @include progress($navbar-height);
    @include search();
    /*Modules*/
    @include register();
    @include login();
    @include learn-form();
    @include pending-list();
    @include known-list();
    @include tolearn-list();
    @include progress-lists();
    @include definition-view();
    @include search-form();
    @include settings-form();
}
