﻿@import "settings";

@mixin general($font-thin, $font-light, $font-regualr, $font-medium, $font-bold) {

    .font-thin {
        font-family: $font-thin;
    }

    .font-light {
        font-family: $font-light;
    }

    .font-regular {
        font-family: $font-regualr;
    }

    .font-medium {
        font-family: $font-medium;
    }

    .font-bold {
        font-family: $font-bold;
    }

    .red {
        color: $red;
    }

    .blue {
        color: $blue;
    }

    .purple {
        color: $purple;
    }

    TextView, TextInput {
        @extend .font-regular;
    }

    Page {
        background-color: $page-bg-color;
    }

    FormField {
        margin-top: 5px;

        & > #Label {
            width: 100%;
            height: 25px;
        }

        & > #Icon {
            display: none;
        }
    }

    .form-field-container {
        margin: 10px;
        border-bottom-width: 1px;
        border-color: #cdcdcd;

        .icon {
            width: 22px;
            margin-top: 7px;
        }

        .btn-remove{
            width:50px;
            position: absolute;
            top: 10px;
            left: calc("view.Parent.Width, x=> x - 60");
            font-size: 11px;
            @extend .font-light;
            white-space:nowrap;
            text-align:right;
            padding:0;
            color:$blue;
        }

        FormField {
            padding-left: 10px;

            #Label {
                color: #555;
                font-size: 14px;
            }

            TextInput, ItemPicker, TimePicker {
                border: 0;
                color: #555;
                padding-left: 0;
            }

            ItemPicker, TimePicker {
                #Caret {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }

    .btn {
        color: #fff;
        height: 50px;
        text-align: center;
        font-size: 16px;
    }

    .btn-primary {
        @extend .btn;
        background: $primary-color;
    }
}
