﻿/* ------------------------------------------------------------
/* NOTE: These styles will be applied to the iOS platform only 
/* ------------------------------------------------------------*/
.ios-only { /*Templates*/ /*Pages*/ /*Modules*/ }

.ios-only TextView { color: #282828; }

.ios-only Button { opacity: 1; }

.ios-only Button:disabled { opacity: 0.3; }

.ios-only ImageView { opacity: 1; }

.ios-only ImageView:disabled { opacity: 0.3; }

.ios-only IconButton { opacity: 1; }

.ios-only IconButton:disabled { opacity: 0.3; }

.ios-only IconButton #TextView { color: white; }

.ios-only Waiting-Indicator #Image { background: url(Images/icons/Spinner.gif); }

.ios-only Toast { background: white; Duration: calc("4.Seconds()"); padding: 20px; background: black; }

.ios-only Toast #Label { color: white; }

.ios-only Toast #OKButton { color: #5c72f6; background-color: #989898; }

.ios-only TextInput { padding: 7px; }

.ios-only CheckBox #CheckedImage { background-color: #5c72f6; }

.ios-only Switch #Bar { background: #C8C8C8; }

.ios-only Switch:checked #Bar { background: #5c72f6; }

.ios-only ItemPicker-Dialog > ScrollView { Height: calc("View.Root.Height.CurrentValue/2"); }

.ios-only Picker { padding: 7px; border-color: #e6e6e6; }

.ios-only Picker #Caret { background: url(Images/Icons/Caret.png); }

.ios-only DatePicker-Cell #Label, .ios-only TimePicker-Cell #Label { color: #C8C8C8; }

.ios-only DatePicker-Cell:active #Label, .ios-only TimePicker-Cell:active #Label { color: #282828; }

.ios-only Modal { background: white; padding: 20px; height: auto; }

.ios-only ListView #EmptyTextLabel { color: #C8C8C8; }

.ios-only ListView .view-row { width: 20px; height: 100%; }

.ios-only ListView ListViewItem { border-color: #e6e6e6; }

.ios-only ListView ListViewItem .title { font-weight: bold; height: 50%; }

.ios-only ListView #SlideIn TextView { height: 100%; margin: 0; color: white; background: #444; padding: 10px; AutoSizeWidth: calc("true"); }

.ios-only ListView #SlideIn TextView.delete-button { background: #ff4c32; }

.ios-only .standard-list ListView ListViewItem { height: 60px; }

.ios-only .standard-list ListView ListViewItem > Stack > * { height: 100%; }

.ios-only .standard-list ListView ListViewItem > Stack .icon { width: 60px; margin-right: 10px; }

.ios-only .module-header-title { color: #5c72f6; margin-bottom: 20px; }

.ios-only .list-view .module-header-title { padding: 5px; padding-right: 20px; height: 40px; }

.ios-only .header-intro { color: white; margin-bottom: 20px; }

.ios-only .bottom-buttons-row { margin-top: 5px; margin-bottom: 5px; }

.ios-only .form-field-header { padding: 7px; font-weight: bold; font-size: 16px; }

.ios-only SearchInput { border: 0; border-bottom-color: #5c72f6; border-bottom-width: 1px; }

.ios-only SearchInput TextInput { border: 0; color: #5c72f6; PlaceholderColor: #5c72f6; }

.ios-only .font-thin { font-family: "Roboto-Thin"; }

.ios-only .font-light, .ios-only .form-field-container .btn-remove, .ios-only Tabs Tabs-Tab #Label, .ios-only MenuDisplayer MainMenu #Body IconButton #TextView, .ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option #Label, .ios-only PopUp AlertDialog #DialogContent #Message, .ios-only PopUp TimePicker-Dialog #DialogContent #Message, .ios-only PopUp AlertDialog #ButtonsRow Button, .ios-only PopUp TimePicker-Dialog #ButtonsRow Button, .ios-only PopUp TimePicker-Dialog .list-item #Label, .ios-only RegisterModule #WelcomeNote, .ios-only RegisterModule #WelcomeNoteSubtitle, .ios-only LoginModule #CheckEmailSubtitle, .ios-only LearnForm #WordCircle #Word, .ios-only LearnForm #WordCircle #WordsPageActionCall, .ios-only LearnForm #WordCircle #WordsPageActionLink, .ios-only PendingList #ButtonsContainer Button, .ios-only PendingList #List PendingList-Row #Content TextView, .ios-only KnownList #List KnownList-Row #Content TextView, .ios-only ToLearnList #List ToLearnList-Row #Content TextView, .ios-only LearningList #List .list-item #Content TextView, .ios-only LearntList #List .list-item #Content TextView, .ios-only DefinitionView #NativeCaption, .ios-only SearchForm #List .list-item #Content TextView { font-family: "Roboto-Light"; }

.ios-only .font-regular, .ios-only TextView, .ios-only TextInput, .ios-only PopUp AlertDialog #Title, .ios-only PopUp TimePicker-Dialog #Title { font-family: "Roboto-Regular"; }

.ios-only .font-medium, .ios-only Progress #LearningCount Stack .label, .ios-only DefinitionView #WordText, .ios-only DefinitionView #NativeCaption, .ios-only SettingsForm .title { font-family: "Roboto-Medium"; }

.ios-only .font-bold { font-family: "Roboto-Bold"; }

.ios-only .red { color: #ff4858; }

.ios-only .blue { color: #5c72f6; }

.ios-only .purple { color: #8f65ff; }

.ios-only Page { background-color: #f4f4f4; }

.ios-only FormField { margin-top: 5px; }

.ios-only FormField > #Label { width: 100%; height: 25px; }

.ios-only FormField > #Icon { display: none; }

.ios-only .form-field-container { margin: 10px; border-bottom-width: 1px; border-color: #cdcdcd; }

.ios-only .form-field-container .icon { width: 22px; margin-top: 7px; }

.ios-only .form-field-container .btn-remove { width: 50px; position: absolute; top: 10px; left: calc("view.Parent.Width, x=> x - 60"); font-size: 11px; white-space: nowrap; text-align: right; padding: 0; color: #5c72f6; }

.ios-only .form-field-container FormField { padding-left: 10px; }

.ios-only .form-field-container FormField #Label { color: #555; font-size: 14px; }

.ios-only .form-field-container FormField TextInput, .ios-only .form-field-container FormField ItemPicker, .ios-only .form-field-container FormField TimePicker { border: 0; color: #555; padding-left: 0; }

.ios-only .form-field-container FormField ItemPicker #Caret, .ios-only .form-field-container FormField TimePicker #Caret { width: 13px; height: 13px; }

.ios-only .btn, .ios-only .btn-primary { color: #fff; height: 50px; text-align: center; font-size: 16px; }

.ios-only .btn-primary { background: #5c72f6; }

.ios-only Blank { height: calc("View.Root.Height, x=> x"); }

.ios-only Blank #BodyScroller { height: calc("View.Root.Height, x=> x"); }

.ios-only Blank #BodyScroller #Body { background-color: transparent; padding-top: calc("View.Root.Width, x=> x / 4"); padding-left: 20px; padding-right: 20px; }

.ios-only Blank #TopLeft, .ios-only Blank #TopRight, .ios-only Blank #BottomLeft, .ios-only Blank #BottomRight { position: absolute; }

.ios-only Blank #TopLeft { background-color: #4fc1b7; width: calc("View.Root.Width, x=> x /2.5"); height: calc("View.Root.Width, x=> x /2.5"); left: calc("View.Root.Width, x=> - x / 5"); top: calc("View.Root.Width, x=> - x / 5"); }

.ios-only Blank #TopRight { background-color: #ff4858; width: calc("View.Root.Width, x=> x /1.5"); height: calc("View.Root.Width, x=> x /1.5"); left: calc("View.Root.Width, x=> x - x / 3"); top: calc("View.Root.Width, x=> - x / 3"); }

.ios-only Blank #BottomLeft { background-color: #8f65ff; width: calc("View.Root.Width, x=> x /2"); height: calc("View.Root.Width, x=> x /2"); left: calc("View.Root.Width, x => - x / 4"); top: calc("View.Root.Width, View.Root.Height, (x,y) => y - x / 4"); }

.ios-only Blank #BottomRight { background-color: #ffc600; width: calc("View.Root.Width, x=> x /3"); height: calc("View.Root.Width, x=> x /3"); left: calc("View.Root.Width, x => x - x / 6"); top: calc("View.Root.Width, View.Root.Height, (x,y) => y - x / 6"); }

.ios-only .navbar-background { background: #f4f4f4; }

.ios-only Default NavigationBar { height: 60px; padding: 0; padding-top: 15px; }

.ios-only Default NavigationBar .menu, .ios-only Default NavigationBar .search, .ios-only Default NavigationBar #Title { background-position: center; background-size: contain; }

.ios-only Default NavigationBar #Title { background-image: url(Images/Icons/Logo.png); height: 14px; margin-top: 20px; }

.ios-only Default NavigationBar .menu, .ios-only Default NavigationBar .search, .ios-only Default NavigationBar .save { width: 35px; height: 35px; padding: 5px; margin-top: 10px; }

.ios-only Default NavigationBar .menu { background: url(Images/Icons/Menu.png); margin-left: 10px; }

.ios-only Default NavigationBar .search { background: url(Images/Icons/Search.png); margin-right: 8px; }

.ios-only Default NavigationBar .save { background: url(Images/Icons/Check.png); margin-right: 8px; }

.ios-only Default #BodyScroller { background-color: #f4f4f4; }

.ios-only Default #BodyScroller #Body { padding: 0; }

.ios-only Tabs { height: 56px; }

.ios-only Tabs Tabs-Tab { height: 56px; background-color: #343434; }

.ios-only Tabs Tabs-Tab:active { background-color: #222; }

.ios-only Tabs Tabs-Tab #Label { color: #eee; font-size: 10px; }

.ios-only Tabs Tabs-Tab #Icon { width: 26px; height: 26px; margin-left: calc("View.Root.Width, x=> x/10 - 15"); margin-bottom: 5px; }

.ios-only MenuDisplayer { position: absolute; height: 100%; }

.ios-only MenuDisplayer #Overlay { width: 100%; height: 100%; opacity: 0.35; background: black; display: none; visibility: hidden; }

.ios-only MenuDisplayer MainMenu { background-color: #fff; width: calc("View.Root.Width, x => x"); }

.ios-only MenuDisplayer MainMenu #Top, .ios-only MenuDisplayer MainMenu #Circle { background-color: #5c72f6; position: absolute; }

.ios-only MenuDisplayer MainMenu #Top { top: 0; left: 0; width: calc("View.Root.Width, x => x"); height: calc("View.Root.Width, x => x /2"); }

.ios-only MenuDisplayer MainMenu #Circle { width: calc("View.Root.Width, x => x * 2"); height: calc("View.Root.Width, x => x * 2"); top: calc("View.Root.Width, x => - x /2.2"); left: calc("View.Root.Width, x => - x * .9"); }

.ios-only MenuDisplayer MainMenu #Body { padding: 30px 100px 100px 30px; }

.ios-only MenuDisplayer MainMenu #Body #Items { margin-top: 20px; }

.ios-only MenuDisplayer MainMenu #Body #Logo { width: calc("View.Root.Width, x => x /2"); margin-top: 20px; margin-Bottom: 30px; }

.ios-only MenuDisplayer MainMenu #Body IconButton { height: 50px; border-bottom-width: 1px; border-color: #8493e4; margin-bottom: 5px; padding-left: 0; }

.ios-only MenuDisplayer MainMenu #Body IconButton #TextView { margin-top: 0; text-align: left; padding-left: 35px; font-size: 17px; }

.ios-only MenuDisplayer MainMenu #Body IconButton #Icon { background-size: contain; height: 25px; width: 30px; padding: 0; margin: 0; margin-top: 5px; }

.ios-only MenuDisplayer MainMenu #Body #Close { border: 0; }

.ios-only PopUp { background-color: transparent; padding: 0; }

.ios-only PopUp ItemPicker-Dialog { background-color: #f4f4f4; padding: 15px 30px 0 30px; margin-top: 0; height: calc("View.Root.Height, x => x"); }

.ios-only PopUp ItemPicker-Dialog #Title { display: none; visibility: hidden; }

.ios-only PopUp ItemPicker-Dialog ScrollView { height: calc("View.Root.Height, x => x - 115"); }

.ios-only PopUp ItemPicker-Dialog #ButtonsRow { margin: 0; }

.ios-only PopUp ItemPicker-Dialog #ButtonsRow #CancelButton { Text: ""; background-image: url("Images/Icons/Cross.png"); width: 30px; height: 30px; padding: 5px; margin-bottom: 20px; margin-top: 10px; }

.ios-only PopUp ItemPicker-Dialog OptionsList { margin-top: 10px; }

.ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option { padding-top: 20px; padding-bottom: 15px; padding-right: 4px; padding-left: 5px; border-bottom-color: #ddd; border-bottom: 1px; }

.ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option #CheckBox { display: none; }

.ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option #Label { color: #282828; font-size: 16px; }

.ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option:checked { background-color: transparent; }

.ios-only PopUp ItemPicker-Dialog OptionsList OptionsList-Option:checked #Label { color: #5c72f6; background-color: transparent; }

.ios-only PopUp AlertDialog, .ios-only PopUp TimePicker-Dialog { margin-left: calc("View.Root.Width, x => x / 20"); margin-right: calc("View.Root.Width, x => x / 20"); margin-top: calc("View.Root.Height, View.Root.Width, view.Height, (rh,rw,h) => rh - h - (rw / 20)"); padding: 0; }

.ios-only PopUp AlertDialog #Title, .ios-only PopUp TimePicker-Dialog #Title { margin: 15px 15px 0 15px; font-weight: normal; }

.ios-only PopUp AlertDialog #DialogContent, .ios-only PopUp TimePicker-Dialog #DialogContent { margin-left: 15px; margin-right: 15px; }

.ios-only PopUp AlertDialog #ButtonsRow, .ios-only PopUp TimePicker-Dialog #ButtonsRow { border-color: #eee; border-top-width: 1px; }

.ios-only PopUp AlertDialog #ButtonsRow Button, .ios-only PopUp TimePicker-Dialog #ButtonsRow Button { height: 50px; padding: 20px; color: #5c72f6; text-transform: capitalize; border-color: #eee; border-left-width: 1px; AutoFlash: true; }

.ios-only PopUp TimePicker-Dialog #Title { display: none; visibility: hidden; }

.ios-only PopUp TimePicker-Dialog .list-item { height: 40px; }

.ios-only PopUp TimePicker-Dialog .list-item #Label { font-size: 20px; }

.ios-only PopUp TimePicker-Dialog #ButtonsRow { margin-top: 15px; }

.ios-only Words SegmentedViews { margin-top: 60px; }

.ios-only Words SegmentedViews Segments { margin: 20px 30px; }

.ios-only Words SegmentedViews Segments Segment { height: 36px; background-color: #fff; font-size: 16px; padding: 9px 0; color: #989898; }

.ios-only Words SegmentedViews Segments Segment:active { background-color: #5c72f6; color: #fff; }

.ios-only Words SegmentedViews Contents { height: calc("View.Root.Height, x=> x - 191"); }

.ios-only Words SegmentedViews Contents Content { width: calc("View.Root.Width, x=> x"); height: 100%; }

.ios-only Words SegmentedViews Contents Content ScrollView { width: 100%; height: 100%; }

.ios-only Progress #LearningCount { background-color: #fff; padding: 20px 30px; margin: 15px; margin-top: 60px; }

.ios-only Progress #LearningCount Stack { padding-top: 5px; padding-bottom: 5px; }

.ios-only Progress #LearningCount Stack .label { font-size: 16px; width: calc("View.Root.Width, x=> (x - 70) * 0.7"); }

.ios-only Progress #LearningCount Stack .value { font-size: 18px; width: calc("View.Root.Width, x=> (x - 70) * 0.3"); text-align: center; }

.ios-only Progress SegmentedViews { margin-top: 160px; }

.ios-only Progress SegmentedViews Segments { margin: 20px 30px; }

.ios-only Progress SegmentedViews Segments Segment { height: 36px; background-color: #fff; font-size: 16px; padding: 9px 0; color: #989898; }

.ios-only Progress SegmentedViews Segments Segment:active { background-color: #5c72f6; color: #fff; }

.ios-only Progress SegmentedViews Contents { height: calc("View.Root.Height, x=> x - 306"); }

.ios-only Progress SegmentedViews Contents Content { width: calc("View.Root.Width, x=> x"); height: 100%; }

.ios-only Progress SegmentedViews Contents Content ScrollView { height: 100%; }

.ios-only Search .navbar-background { background: #fff; }

.ios-only Search #BodyScroller { background-color: #fff; }

.ios-only RegisterModule #Logo { width: 40%; margin-top: 10px; margin-bottom: 20px; margin-left: calc("view.Parent.Width , x=> x/3.33"); }

.ios-only RegisterModule #WelcomeNote, .ios-only RegisterModule #WelcomeNoteSubtitle { color: #989898; margin: 0 20px; font-size: 13px; text-align: justify; }

.ios-only RegisterModule #WelcomeNoteSubtitle { color: #5c72f6; margin-bottom: 40px; }

.ios-only RegisterModule #NextButton { margin: 40px 0; margin-bottom: 0; }

.ios-only LoginModule #CheckEmail, .ios-only LoginModule #CheckEmailSubtitle { text-align: center; }

.ios-only LoginModule #CheckEmail { font-size: 20px; margin-bottom: 10px; margin-top: calc("View.Root.Height, x=> x /10"); }

.ios-only LoginModule #CheckEmailSubtitle { font-size: 15px; margin-bottom: calc("View.Root.Height, x=> x /8"); }

.ios-only LoginModule #LoginButton { margin: 40px 0; margin-bottom: 0; }

.ios-only LoginModule #BackButton { color: #5c72f6; }

.ios-only LearnForm { padding: 0; }

.ios-only LearnForm #WordCircle { background-color: #fff; height: calc("View.Root.Width, x=> x * 0.7"); width: calc("View.Root.Width, x=> x * 0.7"); margin-left: calc("View.Root.Width, x=> x * 0.15"); margin-top: calc("View.Root.Width, View.Root.Height, (x,y) => (y - x * 0.7) / 2 - 100"); border: 1px; border-color: #fff; }

.ios-only LearnForm #WordCircle #Word, .ios-only LearnForm #WordCircle #WordsPageActionCall, .ios-only LearnForm #WordCircle #WordsPageActionLink { position: absolute; left: 0; vertical-align: top; text-align: center; white-space: normal; font-size: 13px; }

.ios-only LearnForm #WordCircle #Word { font-size: 25px; top: calc("View.Root.Width, x=> x * 0.3"); }

.ios-only LearnForm #WordCircle #WordsPageActionCall { padding-left: 20px; padding-right: 20px; top: calc("View.Root.Width, x=> x * 0.3"); color: #666; }

.ios-only LearnForm #WordCircle #WordsPageActionLink { color: #5c72f6; margin-top: 10px; top: calc("View.Root.Width, x=> x * 0.3 + 40"); }

.ios-only LearnForm .buttons { z-index: 100; margin-top: calc("View.Root.Width, x=> x * -0.2"); padding-bottom: 5px; }

.ios-only LearnForm .buttons .button-contianer { width: 50%; padding-bottom: 5px; }

.ios-only LearnForm .buttons .button-contianer .button { background-size: contain; height: calc("View.Root.Width, x=> x * 0.2"); width: calc("View.Root.Width, x=> x * 0.2"); padding: 21px; margin-left: calc("View.Root.Width, x=> x * 0.15"); border: 1px; }

.ios-only LearnForm .buttons .button-contianer #SkipButton { background-color: #8f65ff; border-color: #8f65ff; }

.ios-only LearnForm .buttons .button-contianer #NotSureButton { background-color: #ff4858; border-color: #ff4858; }

.ios-only PendingList #Title { background-color: #fff; padding: 20px 30px 30px 30px; font-size: 18px; text-align: center; white-space: normal; margin: 0 15px; }

.ios-only PendingList #ButtonsContainer { background-color: transparent; margin-top: -45px; margin-bottom: 20px; padding: 0 15px; height: 70px; }

.ios-only PendingList #ButtonsContainer Button { position: absolute; top: 0; left: 30px; width: 70px; height: 70px; background-color: #fff; font-size: 13px; white-space: normal; border: 1px solid #eee; border-radius: 35px; }

.ios-only PendingList #ButtonsContainer Button#JumpToButton { color: #5c72f6; }

.ios-only PendingList #ButtonsContainer Button#ShortcutButton { color: #ff4858; left: calc("view.Parent.Width, x=> x-100"); }

.ios-only PendingList #List PendingList-Row { background-color: #fff; border-color: #f5f5f5; border-bottom-width: 1px; border-top-width: 0; }

.ios-only PendingList #List PendingList-Row.known #Content TextView, .ios-only PendingList #List PendingList-Row.tolearn #Content TextView { color: #fff; }

.ios-only PendingList #List PendingList-Row.known #Content ImageView#KnownButton, .ios-only PendingList #List PendingList-Row.tolearn #Content ImageView#KnownButton { background-image: url("Images/Icons/Check-White.png"); }

.ios-only PendingList #List PendingList-Row.known #Content ImageView#ToLearnButton, .ios-only PendingList #List PendingList-Row.tolearn #Content ImageView#ToLearnButton { background-image: url("Images/Icons/Time-White.png"); }

.ios-only PendingList #List PendingList-Row.known { background-color: #4fc1b7; }

.ios-only PendingList #List PendingList-Row.tolearn { background-color: #ffc600; }

.ios-only PendingList #List PendingList-Row.longpressed { background-color: #eee; }

.ios-only PendingList #List PendingList-Row #Content { height: 60px; }

.ios-only PendingList #List PendingList-Row #Content TextView { font-size: 18px; }

.ios-only PendingList #List PendingList-Row #Content TextView#Rank { width: 50px; font-size: 16px; text-align: right; }

.ios-only PendingList #List PendingList-Row #Content TextView#Text { text-align: center; }

.ios-only PendingList #List PendingList-Row #Content ImageView { width: 50px; height: 60px; padding: 7px; }

.ios-only PendingList #List PendingList-Row #Content ImageView#KnownButton { background-image: url("Images/Icons/Check.png"); padding-left: 27px; }

.ios-only PendingList #List PendingList-Row #Content ImageView#ToLearnButton { background-image: url("Images/Icons/Time-Black.png"); padding-right: 27px; }

.ios-only KnownList #List KnownList-Row { background-color: #fff; border-color: #f5f5f5; border-bottom-width: 1px; border-top-width: 0; }

.ios-only KnownList #List KnownList-Row #Content { height: 60px; }

.ios-only KnownList #List KnownList-Row #Content TextView { font-size: 18px; }

.ios-only KnownList #List KnownList-Row #Content TextView#Rank { width: 50px; font-size: 16px; text-align: right; }

.ios-only KnownList #List KnownList-Row #Content TextView#Text { text-align: center; }

.ios-only ToLearnList #List ToLearnList-Row { background-color: #fff; border-color: #f5f5f5; border-bottom-width: 1px; border-top-width: 0; }

.ios-only ToLearnList #List ToLearnList-Row #Content { height: 60px; }

.ios-only ToLearnList #List ToLearnList-Row #Content TextView { font-size: 18px; }

.ios-only ToLearnList #List ToLearnList-Row #Content TextView#Rank { width: 50px; font-size: 16px; text-align: right; }

.ios-only ToLearnList #List ToLearnList-Row #Content TextView#Text { text-align: center; }

.ios-only LearningList #List .list-item, .ios-only LearntList #List .list-item { background-color: #fff; border-color: #f5f5f5; border-bottom-width: 1px; border-top-width: 0; }

.ios-only LearningList #List .list-item #Content, .ios-only LearntList #List .list-item #Content { height: 60px; }

.ios-only LearningList #List .list-item #Content TextView, .ios-only LearntList #List .list-item #Content TextView { font-size: 18px; }

.ios-only LearningList #List .list-item #Content TextView#Rank, .ios-only LearntList #List .list-item #Content TextView#Rank { width: 50px; font-size: 16px; text-align: right; }

.ios-only LearningList #List .list-item #Content TextView#Text, .ios-only LearntList #List .list-item #Content TextView#Text { text-align: center; }

.ios-only LearningList #List .list-item #Content TextView#RepeatsNumber, .ios-only LearntList #List .list-item #Content TextView#RepeatsNumber { width: 50px; font-size: 16px; }

.ios-only DefinitionView #WordText, .ios-only DefinitionView #NativeCaption { background-color: #fff; padding: 30px; font-size: 20px; text-align: center; white-space: normal; margin: 15px; }

.ios-only DefinitionView #NativeCaption { padding: 15px; font-size: 16px; }

.ios-only DefinitionView #ButtonsContainer { background-color: transparent; margin-top: -55px; margin-bottom: 20px; padding: 0 15px; height: 70px; }

.ios-only DefinitionView #ButtonsContainer ImageView { position: absolute; top: 0; left: 30px; width: 70px; height: 70px; background-color: #fff; border: 1px solid #eee; border-radius: 35px; padding: 17px; }

.ios-only DefinitionView #ButtonsContainer ImageView#NextButton { left: calc("view.Parent.Width, x=> x-100"); }

.ios-only DefinitionView #EnglishDefinition, .ios-only DefinitionView #NativeDefinition { margin: 10px 25px; font-size: 14px; color: #666; }

.ios-only SearchForm #InputContainer { padding: 15px; padding-bottom: 5px; }

.ios-only SearchForm #InputContainer #SearchInput { background-color: #fff; }

.ios-only SearchForm #List .list-item { background-color: #fff; border-color: #f5f5f5; border-bottom-width: 1px; border-top-width: 0; }

.ios-only SearchForm #List .list-item #Content { height: 60px; }

.ios-only SearchForm #List .list-item #Content TextView { font-size: 17px; height: 60px; vertical-align: middle; text-align: left; padding-left: 27px; }

.ios-only SearchForm #List .list-item #Content #ViewButton { width: 50px; height: 60px; padding: 7px; padding-right: 27px; }

.ios-only SettingsForm { padding: 15px; }

.ios-only SettingsForm .title { background-color: #fff; padding: 15px; font-size: 20px; text-align: center; white-space: normal; }

.ios-only SettingsForm #ButtonsContainer { background-color: transparent; margin-top: -37px; margin-bottom: 20px; padding: 0 15px; height: 70px; }

.ios-only SettingsForm #ButtonsContainer ImageView { position: absolute; top: 0; left: 20px; width: 70px; height: 70px; background-color: #fff; border: 1px solid #eee; border-radius: 35px; padding: 22px; }

.ios-only SettingsForm #RemindersContainer { margin-bottom: 20px; }

.ios-only SettingsForm Button { margin-top: 20px; }

