﻿$text-color: #282828;
$input-padding: 7px;
$grey: #C8C8C8;
$very-light-grey: #e6e6e6;
$dark-grey: #505050;

//Colors
$blue: #5c72f6;
$red: #ff4858;
$purple: #8f65ff;
$nightrider: #343434;
$nero:#222;
$nobel: #989898;
$whitesmoke: #f4f4f4;
$yellow: #ffc600;
$green: #4fc1b7;

$page-bg-color: $whitesmoke;
$primary-color: $blue;