﻿@model CaptchaMvc.Models.DefaultBuildInfoModel
@Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>
                                                {
                                                    {"class","form-control"},
                                                    {"data-val", "true"},
                                                    {"data-val-required", ViewData["RequiredMessage"]}
                                                })
<div class="captcha-image">
    <img id="@Model.ImageElementId" src="@Model.ImageUrl" />
</div>
@Html.Hidden(Model.TokenElementId, Model.TokenValue)

@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
        });


        function @functionName {
                $('#@id').hide();
            $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
                function () {
                    $('#@id').show();
                });
            return false;
        }
    </script>
    <div class="captcha-image-refresh">
        <a href="#@Model.InputElementId" id="@id" onclick="@functionName" style="display: none;"><i class="fa-refresh fa"></i>@ViewData["RefreshButtonText"]</a>
    </div>


}

@Html.ValidationMessage(Model.InputElementId)